@model LojaVirtual.Dominio.Entidades.Produto

<link href="~/Content/Vitrine/ProdutoDetalhes.css" rel="stylesheet" />


<div class="produtos well col-md-3 col-sm-3">
    <div class="nome-produto">
        @Html.DisplayFor(modelItem => @Model.Nome)
    </div>
    <div class="descricao">
        @Html.DisplayFor(modelItem => @Model.Descricao)
    </div>
    <div class="tbl-preco">
        <tr>
            <td>
                <div class="preco label label-primary" id="preco">
                    @Model.Preco.ToString("c")
                </div>
            </td>
        </tr>
    </div>
    <div class="btn-comprar">
        @using (Html.BeginForm("Adicionar", "Carrinho"))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Comprar"/>
        }
    </div>
  
</div>